<div>
    <div class="flex h-screen">
        <TransitionRoot as="template" :show="mobileMenuOpen">
          <Dialog as="div" class="relative z-40 lg:hidden" @close="mobileMenuOpen = false">
            <TransitionChild as="template" enter="transition-opacity ease-linear duration-300" enter-from="opacity-0" enter-to="opacity-100" leave="transition-opacity ease-linear duration-300" leave-from="opacity-100" leave-to="opacity-0">
              <div class="fixed inset-0 bg-gray-600 bg-opacity-75" />
            </TransitionChild>
    
            <div class="fixed inset-0 flex z-40">
              <TransitionChild as="template" enter="transition ease-in-out duration-300 transform" enter-from="-translate-x-full" enter-to="translate-x-0" leave="transition ease-in-out duration-300 transform" leave-from="translate-x-0" leave-to="-translate-x-full">
                <DialogPanel class="relative flex-1 flex flex-col max-w-xs w-full bg-white focus:outline-none">
                  <TransitionChild as="template" enter="ease-in-out duration-300" enter-from="opacity-0" enter-to="opacity-100" leave="ease-in-out duration-300" leave-from="opacity-100" leave-to="opacity-0">
                    <div class="absolute top-0 right-0 -mr-12 pt-4">
                      <button type="button" class="ml-1 flex items-center justify-center h-10 w-10 rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" @click="mobileMenuOpen = false">
                        <span class="sr-only">Close sidebar</span>
                        <XIcon class="h-6 w-6 text-white" aria-hidden="true" />
                      </button>
                    </div>
                  </TransitionChild>
                  <div class="pt-5 pb-4">
                    <div class="flex-shrink-0 flex items-center px-4 border-b border-gray-200 pb-5">
                      <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark.svg?color=black" alt="Workflow" />
                    </div>
                    <nav aria-label="Sidebar" class="mt-5">
                      <div v-for="item in navigation" :key="item.name" class="px-2 space-y-1" :class="item.name == 'More' ? '!mt-20 border-b border-gray-200 pb-3' : ''">
                        <a :href="item.href" class="group p-2 rounded-md flex items-center text-base font-medium text-gray-600 hover:bg-gray-50 hover:text-gray-900">
                          <component :is="item.icon" class="mr-4 h-6 w-6 text-gray-400 group-hover:text-gray-500" aria-hidden="true" />
                          {{ item.name }}
                        </a>
                      </div>
                    </nav>
                  </div>
                  <div class="flex-shrink-0 flex p-4">
                    <a href="#" class="flex-shrink-0 group block" v-tooltip="user.name">
                      <div class="flex items-center">
                        <div>
                          <img class="inline-block h-10 w-10 rounded-full" :src="user.imageUrl" alt="" />
                        </div>
                        <div class="ml-3">
                          <p class="text-base font-medium text-gray-700 group-hover:text-gray-900">
                            {{ user.name }}
                          </p>
                          <p class="text-sm font-medium text-gray-500 group-hover:text-gray-700">CPA</p>
                        </div>
                      </div>
                    </a>
                  </div>
                </DialogPanel>
              </TransitionChild>
              <div class="flex-shrink-0 w-14" aria-hidden="true">
                <!-- Force sidebar to shrink to fit close icon -->
              </div>
            </div>
          </Dialog>
        </TransitionRoot>

        <!-- All Services -->
        <TransitionRoot appear :show="modalState" as="template">
          <Dialog as="div" @close="modalState = false" class="relative z-10">
            <TransitionChild
              as="template"
              enter="duration-300 ease-out"
              enter-from="opacity-0"
              enter-to="opacity-100"
              leave="duration-200 ease-in"
              leave-from="opacity-100"
              leave-to="opacity-0"
            >
              <div class="fixed inset-0 bg-black bg-opacity-25" />
            </TransitionChild>
      
            <div class="fixed inset-0 overflow-y-auto">
              <div
                class="flex min-h-full items-center justify-center p-4 text-center"
              >
                <TransitionChild
                  as="template"
                  enter="duration-300 ease-out"
                  enter-from="opacity-0 scale-95"
                  enter-to="opacity-100 scale-100"
                  leave="duration-200 ease-in"
                  leave-from="opacity-100 scale-100"
                  leave-to="opacity-0 scale-95"
                >
                  <DialogPanel
                    class="relative w-full max-w-5xl transform overflow-hidden rounded-2xl bg-white p-6 text-left align-middle shadow-xl transition-all"
                  >
                    <button 
                      @click="modalState = false"
                      type="button" 
                      class="flex px-1 py-1 right-2 top-2 absolute">
                      <component :is="XIcon" class="h-6 w-6 hover:text-red-500" aria-hidden="true" />&nbsp;
                    </button>

                    <DialogTitle
                      as="h3"
                      class="text-lg font-medium leading-6 text-gray-900"
                    >
                      Available Services
                    </DialogTitle>

                    <div class="mt-2">
                      <p class="text-sm text-gray-500">
                        Here you can add or remove services.
                      </p>
                    </div>

                    <div class="mt-4">
                      <ul role="list" class="mt-3 grid grid-cols-1 gap-5 sm:gap-6 sm:grid-cols-2 lg:grid-cols-4">
                        <li v-for="service in services" :key="service.name" class="col-span-1 flex shadow-sm rounded-md">
                          <div :class="[service.bgColor, 'flex-shrink-0 flex items-center justify-center w-16 text-white text-sm font-medium rounded-l-md']">
                            {{ service.initials }}
                          </div>
                          <div class="flex-1 flex items-center justify-between border-t border-r border-b border-gray-200 bg-white rounded-r-md truncate">
                            <div class="flex-1 px-4 py-2 text-sm truncate">
                              <a :href="service.href" class="text-gray-900 font-medium hover:text-gray-600">{{ service.name }}</a>
                              <p class="text-gray-500">{{ service.description }} </p>
                            </div>
                            <div class="flex-shrink-0 pr-2">
                              <button type="button" class="w-8 h-8 bg-white inline-flex items-center justify-center text-gray-400 rounded-full bg-transparent hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                <span class="sr-only">Open options</span>
                                <DotsVerticalIcon class="w-5 h-5" aria-hidden="true" />
                              </button>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </DialogPanel>
                </TransitionChild>
              </div>
            </div>
          </Dialog>
        </TransitionRoot>
    
        <!-- Static sidebar for desktop -->
        <div class="hidden lg:flex lg:flex-shrink-0">
          <div class="flex flex-col w-20">
            <div class="flex-1 flex flex-col min-h-0 overflow-y-auto bg-white border-r border-gray-200">
              <div class="flex-1">
                <div class="py-4 flex items-center justify-center border-b border-gray-200">
                  <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark.svg?color=blue" alt="Workflow" />
                </div>
                <nav aria-label="Sidebar" class="py-6 flex flex-col items-center space-y-3">
                  <div v-for="item in navigation" :key="item.name" class="w-full m-auto grid justify-center" :class="item.name == 'More' ? '!mt-20 border-b border-gray-200 pb-3' : ''">
                    <a :href="item.href" @click="navAction(item)" v-tooltip="item.name" class="flex items-center rounded-lg p-2 text-gray-300  hover:bg-gray-300 hover:text-white">
                      <component :is="item.icon" class="h-6 w-6" aria-hidden="true" />
                      <span class="sr-only">{{ item.name }}</span>
                    </a>
                  </div>
                  <a href="#" class="flex-shrink-0 w-full" v-tooltip="`${user.name} / CPA`">
                    <img class="block mx-auto h-10 w-10 rounded-full" :src="user.imageUrl" alt="" />
                    <div class="sr-only">
                      <p>
                        {{ user.name }}
                      </p>
                      <p>CPA</p>
                    </div>
                  </a>
                </nav>
              </div>
            </div>
          </div>
        </div>
    
        <div class="flex-1 min-w-0 flex flex-col overflow-hidden">
          <!-- Mobile top navigation -->
          <div class="lg:hidden">
            <div class="bg-white py-2 px-4 flex items-center justify-between sm:px-6 lg:px-8 border-b border-gray-200">
              <div>
                <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark.svg?color=black" alt="Workflow" />
              </div>
              <div>
                <button type="button" class="-mr-3 h-12 w-12 inline-flex items-center justify-center bg-gray-400 rounded-md text-white hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" @click="mobileMenuOpen = true">
                  <span class="sr-only">Open sidebar</span>
                  <MenuIcon class="h-6 w-6" aria-hidden="true" />
                </button>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>